@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
@import "tailwindcss";

@theme {
  --color-background: #111112;
  --color-topbar: #b8b8d8;
  --color-primary: #c75af2;
  --color-secondary: #7b7bbb;
  --color-textPrimary: #0b011c;
  --color-third: #7f00a6;
}

/* Smooth scrolling with Apple-like momentum */
html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
  background-color: black;
}

body {
  background-color: black;
}

.nav-button {
  @apply hover:font-bold font-semibold transition-transform duration-300 text-secondary hover:text-purple-100;
}
